@import './stylesheet.css';

@media screen {
  * {
    /* colors */
    --secondary-color: #ffcc00;
    --background-color: #ffffffff;
    --primary-color: radial-gradient(circle, rgba(255,0,127,1) 0%, rgba(246,6,126,1) 35%, rgba(246,6,126,1) 100%);

    /* background: rgb(239,187,191); */
   

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #1b1b1b;
    font-weight: normal;
    font-family: 'Arapey';
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background: var(--primary-color);
  }

  a,
  router-link {
    text-decoration: none;
    color: var(--secondary-color);
  }

  input {
    outline: none;
    border: none;
  }

  input:focus,
  input:hover {
    outline: none;
  }

  .icon {
    width: 18px;
    height: 18px;
    fill: var(--secondary-color);
  }

  button {
    outline: none;
    border: none;
  }

  .error {
    width: 100%;
    display: flex;
    height: inherit;
    align-items: center;
    border-radius: inherit;
    justify-content: center;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 4px solid var(--secondary-color);
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }
}
/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
