@media screen {

  .home-main {
    gap: 10px;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
  }

  .home-top {
    gap: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .home-top h2 {
    font-size:1.8rem ;
    color: var(--background-color);
  }

  .home-top h1 {
    font-size:3rem ;
    color: var(--secondary-color);
  }

  .home-middle {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    font-size:1.4rem ;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    color: var(--background-color);
    background-position: center bottom ;
    background-repeat: no-repeat;
    
  }


  .home-middle h3 {
    text-transform: capitalize;
  }

  .venue-top {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 300px;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: center ;
    background-repeat: no-repeat;
    color: var(--secondary-color);
    background-image: url('../assets/church.jpeg');
  }

  .entourage-top {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 300px;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    color: var(--background-color);
    background-position: center;
    background-image: url('../assets/wine.jpg');

  }

  .gift-top {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 300px;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: center ;
    background-repeat: no-repeat;
    color: var(--background-color);
    background-image: url('../assets/gift.jpg');
  }


  .gift-middle {
    gap: 10px;
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    color: var(--secondary-color);

  }

  .gift-middle h1 {
    padding: 10px;
    font-size: 1rem;
    color: var(--secondary-color);
  }

  .gift-middle p {
    font-size: 1.2rem;
  }

  .venue-top a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--secondary-color);

  }

  .venue-top a:hover {
    color: var(--secondary-color);
  }

  .venue-middle {
    gap: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: var(--secondary-color);
  }
  
  .program-middle {
    gap: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/rose-flowers.jpeg');

  }

  .home-top h6 {
    font-size: 1.4rem;
    color: var(--background-color);
  }

  .section-title h1 {
    font-size: 2rem;
    color: #f267ac;
  }

  .row {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row-inner  h4 {
    font-size: 1.4rem;
  }

  .row-inner  p {
    font-size: 1.6rem;

  }

  .row-top {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row-top p {
    font-weight: 400;
  }

  .entourage-middle{
    background-color: #fafafa;
  }

  .entourage-navtop {
    color: var(--background-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
  }
  .entourage-bottom{
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
  }

  .entourage-column {
    gap: 10px;
    display: flex;
    padding:10px;
    flex-direction: column;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-image: url('../assets/heart.jpg');
  }



  .first-column, .second-column {
    flex-direction: column;
    align-items: center;
    text-align: start;
    display: flex;
    gap: 10px;
  }

  .entourage-column h1 {
    font-size: 1.6rem;
    color: var(--secondary-color);
  }

  .entourage-column h4 {
    font-weight: 600;
    font-size: 1rem;
  color: var(--background-color);
    text-transform: capitalize;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .entourage-column {
    flex-direction: row;
  }

  .gift-middle h1 {
    font-size: 1.3rem;
  }


}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
