@media screen {
  .navigation {
    gap: 10px;
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navigation-link {
    font-size: 1rem;
    font-weight: 600;
    color:  #0d3a26;
  }

  a,
  router-link {
    text-decoration: none;
    color: var(--background-color);
  }

  .router-link-active {
    color: var(--secondary-color);
  }

  .active {
    color: var(--secondary-color);
  }

  .router-link-active-exact {
    color: var(--secondary-color);
  }



  .navigation-link:hover {
    color: var(--secondary-color);
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
